.mainContainer {
    padding-top:20px;
    padding-bottom:20px;
}

.input-file {
    opacity: 0;
}
.dropzone {
    border: 3px dashed #333 ;
    border-radius: 20px;


    margin-bottom: 20px;
}
.dz-message {
    margin-top : 50% !important;;
}
.dz-message span {
    color: #333 !important;
    font-size : 25px;
}
#uploadMyImage {
    width: 400px;
    height: 400px;
    margin: auto;
}
.profile-description {
    margin-top:10px;
    color: #ccc;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left !important;
    word-wrap: break-word;
}

.margin-0 {
    margin: 0px !important;
}
.p-l-10 {
    padding-left: 10px;
}
.inline-block {
    display: inline-block !important;
}
.hidden {
    display: none !important;
}
.left-v-line  {
    position: absolute;
    width:5px;
    height: 100%;
    background: #e6e6e6;
    border:3px dotted #fff;
    float: left;
    clear: both;
    left:0px
}
.p-left-15 {
    padding-left:15px !important;
}

.sidebar .accordion .header {
    margin-top:10px;
}

.sidebar .accordion .content {
    height: auto;
}
.sidebar .accordion .content a {
    color:#8ea519 ;
    font-size:16px;
}

.sidebar .accordion .content a:hover {
    text-decoration: none;
    color:#fff;
}
h1 {
    color : #1f253d !important;
}
.footer-fixed {
    position: absolute !important;
    width: 100%;
    bottom: 0;
    margin-top: 40px;
}
.footer-separator {
    width: 100%;
    height: 100px;
}
.admin-segment {
    border: none !important;
}
.skills-preview {
    width : 100%;
    height: 100%;
    text-align: left;
}
#skillsTextarea {
    height: 600px;
    line-height: 1.6;
    padding: 0px !important;
    border: 1px solid #2d4373;
    margin-bottom: 10px;
}

#decsSpan {
    padding: 7px;
    position: absolute;
    z-index: 200;
    background: #deb887;
    border-radius: 10px;
}
button a {
    color: #fff;
}
.float-right {
    float: right !important;
}

.absolute.right {
    position: absolute !important;
    top: 5px;
    right: 5px;
}
.black {
    color:#0f0f10;
}

.blue {
    color: #2185d0;
}